<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SplitWise</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style>
/*body {
  background: #ABEBC6;
}*/
</style>
</head>
<body background="bg6.jpg" >


  <div class="container">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Splitwise</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="active"><a href="/stories">Chart</a></li>
          <li><a href="/login">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a><span class="glyphicon glyphicon-user"></span>    <span class="badge"><input id="logged_in_user" style="background-color : #000000
"></span></a></li>
          <!-- <li><input type="label" type="label" id="logged_in_user" name="logged_in_user" disabled></li> -->
        </ul>
      </div>
    </nav>
<!-- /////////////////////////////////////////////////////// DYNAMIC TEXT FIELDS -->

<form name="billimage" action="/ndashboard" method="post" enctype="multipart/form-data">
<div class="col-md-3">
  <input class="form-control input-sm" type="file" name="myfile" size="50" value="File chosen"/>
</div>
<div class="col-md-3">
<input class="btn btn-primary btn-xs" type="submit" value="Upload Image"/>
</div>
</form>
<br><br>
<script src="/wp-includes/js/addInput.js" language="Javascript" type="text/javascript"></script>
<form method="POST">
     <div id="dynamicInput">
        <br><input class="form-control input-sm" placeholder="Friend's Name" id="user1" name="myInputs[]">
     </div>
     <br>
     <input class="btn btn-danger" value="Add Friend" onClick="addInput('dynamicInput');">
</form>
<br>
<br />

<!--////////////////////////////////////////////////////////  -->
<br>
    <div class="col-md-3">
      Amount To Split:
  						<input class="form-control input-sm" id="money" type="text" name="money" placeholder="eg : 500"><br><br>
              </div>
              <!-- <input class="form-control input-sm" id="date" type="text" name="date" placeholder="Date of Split"><br><br>
              <input class="form-control input-sm" id="time" type="text" name="time" placeholder="Time of Split"><br><br> -->
  						<!-- <input class="form-control input-sm" id="user1" type="text" name="user1" placeholder="User1">
              <input class="form-control input-sm" id="user2" type="text" name="user2" placeholder="User2">
              <input class="form-control input-sm" id="user3" type="text" name="user3" placeholder="User3"><br><br> -->
<!-- DATE PICKER ////////////////////////////////////////////////////////////////!-->






<div class="col-md-3">
    Date:
    <input class="form-control input-sm" id="date" type="date" name="bday" ><br><br>
</div>
<div class="col-md-3">
    Time:
  <input class="form-control input-sm" id="time" type="time" name="usr_time">
</div>
<!-- DATE PICKER END////////////////////////////////////////////////////////////////!-->
<br>
  						<input id="split_btn" type="submit" name="register" class="btn btn-success" value="Split">
<br><br>



<br><br><br>
<hr>

  <div class="col-md-5">
    <input id="btn_get" type="button" name="btn_get" class="btn btn-success" value="Refresh &#8634">
    <br><br>
            <table  class="table table-condensed"id ="table_get">
              <thead>
                <tr><th>Date</th><th>Time</th><th>From</th><th>Amount to Get</th><th>Bill Image</th><th>Settle</th></tr>
              </thead>
              <tbody>

              </tbody>
            </table>
  </div>
  <div class="col-md-5">
    <input id="btn_give" type="button" name="btn_give" class="btn btn-success" value="Refresh &#8634">
    <br><br>
            <table class = "table table-condensed" id="table_give">
              <tr><th>Date</th><th>Time</th><th>To</th><th>Amount to Give</th><th>Bill Image</th></tr>
            </table>
  </div>



          </div>




<script>

<!-- script for date picker



<!-- script for date picker ////////////////////////////////////////////////////////////////!-->


</script>




      <script type="text/javascript">


    window.onbeforeunload=function(){
      localStorage.setItem(name,$('#user1').val());
    }

    window.onload=function(){
      var name=localStorage.getItem(name);
      if(name!="")
          {
            $('#user1').val(name);
          }
    }


var counter = 2;
var limit = 10;
function addInput(divName){
     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");
     }
     else {
          var newdiv = document.createElement('div');
          newdiv.innerHTML = "<br><input class='form-control input-sm' placeholder='Friends Name' id = 'user"+counter+"' name='myInputs[]'>";
          document.getElementById(divName).appendChild(newdiv);
          counter++;
     }
}




          	$(document).ready(function(){
              var owner= localStorage.getItem('user');

            $('#logged_in_user').val(" Hello,  "+owner);

          		$("#split_btn").click(function(){
                var array_user =[];
                i=0;
                while(i<counter-1)
                {
                  i++;
                  array_user.push($('#user'+i).val());
                }

                var spval = $('#money').val()/(counter-1);
                var spval = spval.toFixed(2)
                var dt = $('#date').val();
                var tm = $('#time').val();

                var i=0;
                while(i<counter-1)
                {

                    	var em = owner;
                			var us = array_user[i];
                			var pa = spval;
                      var om = dt;
                      var bm = tm;
                      var pth = $('#bill').val();
                			var obj = {
                				"usr1":em,
                				"usr2":us,
                        "dt":om,
                        "tm":bm,
                				"mny":pa,
                        "pa":pth
                			}

                			$.ajax({
                        type: "POST",
                        data: obj,
                        enctype:"multipart/form-data",
                        url: "/money_db",
                        success: function(data)
                        {
                          console.log("sucess");
                        }
                    });

                  i++;
                }
          		return false;
          		});
              $("#btn_get").click(function recurme(){

                var objj = {
                  user1:owner
                }
                $.ajax({
                  type: "POST",
                  data: objj,
                  url: "/fetch_get",
                  success: function(data)
                  {
                    console.log(data);
                    var rowCount = table_get.rows.length;
                    for (var i = rowCount - 1; i > 0; i--) {
                        table_get.deleteRow(i);
                    }
                    for(var i = 0 ;i<data.length;i++){
                       var udhar = data[i].user2;
                       var money1 = data[i].money;
                       var dae = data[i].date;
                       var tie = data[i].time;
                       var pathdedo = (data[i].path).substring(8,data[i].path.length);
                      var pouity = "Image not available";
                       tData="<tr><td>"+dae+"</td><td>"+tie+"</td><td>"+udhar+"</td><td>"+money1+"</td><td><a href="+pathdedo+"><img src="+pathdedo+" alt="+pouity+" height=40px width=50px></a></td><td><button id = \"btn_"+i+"\" type=\"button\" class=\"btn btn-primary btn-xs\">Settle</button></td></tr>";

                       $("#table_get").append(tData);
                       }

                       $('td').click( function(){
                       //alert('You clicked row '+ ($(this).index()+1) );
                       var i=$(this).closest("tr").index()
                       var j=$(this).index()
                       if(j==5){
                       var ur1=data[i].user1;
                       var ur2=data[i].user2;
                       var mn=data[i].money;
                       var dt=data[i].date;
                       var tm=data[i].time;
                       var p=data[i].path;

                       var obj = {
                 				"usr1":ur1,
                 				"usr2":ur2,
                 				"mny":mn,
                        "date1":dt,
                        "time1":tm,
                        "pola":p
                 			}

                      $.ajax({
                        type: "POST",
                        data: obj,
                        url: "/settled",
                        success: function(data)
                        {
                          ////////////////////////////////
                        }
                      });

                    }
                     });

                  }
              });

              });



              $("#btn_give").click(function(){

                var objj = {
                  user2:owner
                }
                $.ajax({
                  type: "POST",
                  data: objj,
                  url: "/fetch_give",
                  success: function(data)
                  {
                    console.log(data);
                    var rowCount = table_give.rows.length;
                    for (var i = rowCount - 1; i > 0; i--) {
                        table_give.deleteRow(i);
                    }
                    for(var i = 0 ;i<data.length;i++){
                       var tg = data[i].user1;
                       var da = data[i].date;
                       var ta = data[i].time;
                       var money2 = data[i].money;
                       var phatu = (data[i].path).substring(8,data[i].path.length);
                        var pouity="Image not available"
                     //  var temp = "<tr><td>"+title+"</td><td>"+ingredients+"</td>"+"<td><img src=+"image+"></img></td>"+"</tr>"
                     tData="<tr><td>"+da+"</td><td>"+ta+"</td><td>"+tg+"</td><td>"+money2+"</td><td><a href="+phatu+"><img src="+phatu+" alt="+pouity+" height=40px width=50px></a></td></tr>"
                       //var tData = "<tr><td>"+title+"</td><td>"+ingredients+"</td></tr>"
                       $("#table_give").append(tData);
                       }


                  }
              });

              });

          	});


          </script>


</body>
</html>
